.input {
    height: 41px;
    padding: 0 25px;

    font-size: 16px;

    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 14px;

    caret-color: var(--active-color);
}

.input:focus {
    outline: 2px solid var(--active-color);
}

.input:read-only,
.input:disabled {
    background-color: #f2f2f2;
}

.input.error,
.input:invalid {
    outline: 2px solid var(--error-color);
    border-color: var(--error-color);
    caret-color: var(--error-color);
}

.errorMessage {
    display: block;
    margin: 5px 0px 0px 25px;

    color: var(--error-color);
}