.header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}

.header > div {
    display: flex;
    width: calc(100% / 3);
}

.left {
    justify-content: left;
}

.center {
    justify-content: center;
}

.right {
    justify-content: right;
}