*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

:root {
    --container-width: 1240px;
    --container-gap: 15px;

    --active-color: #fb8660;
    --error-color: #f7716e;
}