*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
}

:root {
    --container-width: 1240px;
    --container-gap: 15px;
    --header-height: 80px;
    --main-height: calc(100vh - 80px - 20px);

    --active-color: #fb8660;
    --error-color: #f7716e;

    --font-family: 'Nunito', sans-serif;

    --border: 1px solid #e3e3e3;
    --border-radius: 14px;

    --transition-time: .2s;
    --transition-timing: ease-in;
}

.form-create-room {
    position: absolute;
    top: 25%;
    left: 50%;

    width: 440px;

    transform: translateX(-50%);
}

.room-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: var(--main-height);
}

.room-main > section {
    height: inherit;
}

.video {
    /* display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px; */
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    height: 70%;
}

.chat {
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.chat input {
    width: 100%;
}

.next-video {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.next-video li {
    width: 250px;
    height: 150px;

    border: var(--border);
    border-radius: var(--border-radius);
}
