*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--primary-color);
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    object-fit: cover;
}

:root {
    --container-width: 1240px;
    --container-gap: 15px;
    --header-height: 80px;
    --main-height: calc(100vh - 80px);

    --primary-color: #333333;
    --second-color:#ffffff;
    --active-color: #fb8660;
    --error-color: #f7716e;

    --font-family: 'Nunito', sans-serif;

    --border: 1px solid #e3e3e3;
    --border-radius: 14px;
    --outline: 2px solid var(--active-color);
    --outline-error: 2px solid var(--error-color);

    --transition-time: .2s;
    --transition-timing: ease-in;
}

main {
    height: var(--main-height);
}

.room-main {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    height: auto;
    min-height: calc(var(--main-height) - 20px);
}

.room-main > section {
    height: inherit;
}

.room-main > section:first-child {
    width: 70%;
}

.room-main > section:last-child {
    width: 30%;
}

.swiper {
    width: 100%;
    padding-bottom: 20px !important;
}

.swiper .swiper-pagination {
    bottom: 0 !important;
}

.swiper .swiper-pagination-bullet-active {
    background-color: var(--active-color);
}