.w-100 {
    width: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;

    width: 440px;

    transform: translateX(-50%);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }